# local variables and secrets
# Rename this to remove .sample extension, and customize

# path to service account credentials file
# - needed for running or testing cloudkms keeper
export GOOGLE_APPLICATION_CREDENTIALS=""

# if GOOGLE_COMPUTE_ZONE is not defined, 'global' is used
#export GOOGLE_COMPUTE_ZONE="global"
# if GOOGLE_PROJECT_ID is not defined, the project from the credentials file is used
#export GOOGLE_PROJECT_ID=""

# KeyRing and Key for CloudKMS tests
# Key Ring name, defaults to 'my_keyring'
#export CLOUDKMS_KEYRING_NAME=my_keyring
# Key name, defaults to 'my_key'
#export CLOUDKMS_KEY_NAME=my_key

